<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-wrapper">
      <img src="{{ base.url }}/assets/images/plot4web_reduced.svg" alt="Neuromagnetic activity recording from select sensors in response to a three-noun list" style="opacity: 1;">

      <!--
      <div class="copyright" style="text-align: center;">
        <small class="copyright" style="font-weight: 300;">&copy; Copyright 2019-{{ 'now' | date: "%Y" }}, Ryan Law</small>
      </div>
      -->
    </div>
  </div>

</footer>
