{% assign presentations = site.data.presentations | sort: 'Date' | reverse %}
{% assign lecture = presentations | where:"Type","lecture" %}
{% assign slide = presentations | where:"Type","slide" %}
{% assign poster = presentations | where:"Type","poster" %}

<div class="presentations">
  {% for output in lecture %}{% if forloop.first == true %}
    <h4 class="heading" style="margin-top: 0;">Guest lecture</h4> {% endif %}
    <div class="output-item">
      {{ output.Authors }}
      ({{ output.Date | date: "%Y" }}, {{ output.Date | date: "%B" }}).
      {{ output.Title | strip }}.
      {{ output.Venue | strip }}.
      {{ output.Location | strip }}.
    </div>
  {% endfor %}

  {% for output in slide %}{% if forloop.first == true %}
    <h4 class="heading">Slide presentations</h4> {% endif %}
    <div class="output-item">
      {{ output.Authors }}
      ({{ output.Date | date: "%Y" }}, {{ output.Date | date: "%B" }}).
      {{ output.Title | strip }}.
      {{ output.Venue | strip }}.
      {{ output.Location | strip }}.
    </div>
  {% endfor %}

  {% for output in poster %}{% if forloop.first == true %}
    <h4 class="heading">Poster presentations</h4> {% endif %}
    <div class="output-item">
      <div class="output-item">
        {{ output.Authors }}
        ({{ output.Date | date: "%Y" }}, {{ output.Date | date: "%B" }}).
        {{ output.Title | strip }}.
        {{ output.Venue | strip }}.
        {{ output.Location | strip }}.
      </div>
    </div>
  {% endfor %}
</div>
