{% assign research-items = site.data.publications | sort: 'Date' | reverse %}

<div class="publications">
  <h4 class="heading"  style="margin-top: 0;">Papers</h4>
  <div class="pub-items">
    {% for research-item in research-items %}
      <a href="{{ research-item.Link }}" target="_blank">
        <div class="pub-item">
          <div class="pub-title"><h5>{{ research-item.Title }}</h5></div>
          <div class="pub-year">{{ research-item.Date }}</div>
          {% if research-item.Status == 'published' %}
            <div class="pub-journal">{{ research-item.Journal }}</div>
          {% elsif research-item.Status == 'accepted' %}
            <div class="pub-journal">bioRxiv (accepted at the {{ research-item.Journal }})</div>
          {% endif %}
          <div class="pub-Authors">{{ research-item.Authors }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
