<div class="social">
  <a href="//bsky.app/profile/rmc-law.bsky.social" title="Follow me on Bluesky" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
  <a href="//github.com/rmc-law" title="Fork me on GitHub" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="//linkedin.com/in/rmc-law" title="Connect with me on Linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  <a href="//orcid.org/my-orcid?orcid=0000-0002-1175-4604" title="Check out my ORCID" target="_blank"><i class="fa-brands fa-orcid"></i></a>
  <a href="mailto:{{ site.email }}" title="Email me" target="_blank">
  <i class="fa-solid fa-envelope"></i></a>
</div>
