<div class="social">
  <ul>
    <li><a href="mailto:{{ site.email }}" title="Email me" target="_blank">{{ site.email }}</a></li>
    <!-- <li><a href="//twitter.com/rmc_law" title="Follow me on Twitter" target="_blank">Twitter</a></li>
    <li><a href="//github.com/rylaw" title="Fork me on GitHub" target="_blank">GitHub</a></li>
    <li><a href="//orcid.org/0000-0002-1175-4604" title="View me's ORCID profile" target="_blank">ORCID</a></li>
    <li><a href="//www.researchgate.net/profile/Ryan_Law9" title="Follow me on ResearchGate" target="_blank">ResearchGate</a></li>
    <li><a href="//linkedin.com/in/ryan-law" title="Connect with me on Linkedin" target="_blank">Linkedin</a></li>
  </ul>
</div>


<div class="social">
  <ul> -->
    <!-- <li><a href="mailto:ryan.law@mpi.nl" title="Email me" target="_blank"><i class="fa fa-envelope"></i></a></li> -->
    <li><a href="//twitter.com/rmc_law" title="Follow me on Twitter" target="_blank">  <i class="fab fa-twitter"></i></a></li>
    <li><a href="//github.com/ryalaw" title="Fork me on GitHub" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="//orcid.org/0000-0002-1175-4604" title="View my ORCID profile" target="_blank"><i class="ai ai-orcid"></i></a></li>
    <li><a href="//www.researchgate.net/profile/Ryan_Law9" title="Follow me on ResearchGate" target="_blank"><i class="ai ai-researchgate"></i></a></li>
    <li><a href="//scholar.google.com/citations?user=d06kiU8AAAAJ&hl=en" title="View my Google Scholar profile" target="_blank"><i class="ai ai-google-scholar"></i></a></li>
    <li><a href="//linkedin.com/in/ryan-law" title="Connect with me on Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>

  </ul>
</div>
