<div class="social">
  <a href="//twitter.com/rmc_law" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="//github.com/rylaw" title="Fork me on GitHub" target="_blank"><i class="fab fa-github"></i></a>
  <a href="//linkedin.com/in/ryan-law" title="Connect with me on Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="mailto:{{ site.email }}" title="Email me" target="_blank">
    <!-- <i class="fas fa-at"></i> -->
  <i class="fas fa-envelope"></i>
</a>
</div>

<!-- <a href="//orcid.org/0000-0002-1175-4604" title="View my ORCID profile" target="_blank"><i class="ai ai-orcid"></i></a> -->
<!-- <a href="//www.researchgate.net/profile/Ryan_Law9" title="Follow me on ResearchGate" target="_blank"><i class="ai ai-researchgate"></i></a> -->
<!-- <a href="//scholar.google.com/citations?user=d06kiU8AAAAJ&hl=en" title="View my Google Scholar profile" target="_blank"><i class="ai ai-google-scholar"></i></a> -->
