@charset "utf-8";

// Define defaults for each variable.

// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$base-font-family: system-ui,-apple-system,Segoe UI,Helvetica,Arial,Roboto,sans-serif,Apple Color Emoji,Segoe UI Emoji !default;

$base-font-size:   1.25rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;

$spacing-unit:     30px !default;

// $text-color:       #6b7280 !default;
// $text-color:       rgb(60, 60, 90) !default;
$text-color:       hsl(0, 0%, 33%);
// $background-color: #d5d9df !default;
$background-color: #fff !default;
$brand-color:      #0e7490 !default;
$link-hover-color: darken($brand-color,10%) !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1100px !default;

$on-small-phone:   300px !default;
$on-medium-phone:  600px !default;
$on-laptop:        900px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
