/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, Roboto,sans-serif;
  // font-family: Arial, sans-serif;
}

p {
  text-align: left;
  margin-bottom: 2rem;
}

b {
  font-weight: 600;
  color: rgba(17,24,39,1);
}

small {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

nav {
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 0;

  @include media-query($on-laptop) {
    flex-flow: row wrap;
    justify-content: start;
  }
}

nav a {
  margin: 0.5rem 3rem;
  color: rgba(107,114,128,1);
  box-shadow: none;
  font-weight: 300;

  @include media-query($on-laptop) {
    margin-left: 0;
    margin-right: 1.5rem;
  }

  &:hover {
    color: rgba(17,24,39,1);
    text-decoration: none;
    box-shadow: none;
  }
}

nav a:nth-child(1) {
  margin-left: 3rem;

  @include media-query($on-laptop) {
    margin-left: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  max-width: $content-width;

  @include media-query($on-laptop) {
    grid-template-columns: 1fr;
  }
}

.container figure {
  display: block;
  // margin: 0 auto;

  @include media-query($on-laptop) {
    margin: 0;
  }

  &.headshot {
    width: 12rem;
    height: 12rem;

    img {
      border: 0;
      width: 12rem;
      clip: rect(0, 12rem, 12rem, 0);
      position: absolute;
      border-radius: 50%;
      // transform: rotate(6.5deg);
      // -webkit-filter: grayscale(15%);
      /* Safari 6.0 - 9.0 */
      // filter: grayscale(15%);
    }
  }
}

.social {
  display: inline;
  @include relative-font-size(1.5);
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-left: 1.25rem;

  @include media-query(400px) {
    display: block;
    clear: both;
    line-height: 1rem;
    margin-left: 0;
  }
}

.social a {
  color: lighten(rgba(24,28,36,1),50%);
  margin-right: .5rem;
  box-shadow: none;

  &:hover {
    color: rgba(24,28,36,1);
    box-shadow: none;
  }
}

.main-text {
  padding-top: 2rem;
}



/**
 * Research
 */

 .publications, .presentations {
   // margin-top: 5.425rem;
 }

.heading {
  font-weight: bold;
  color: #b7b7b7;
  margin-top: 2.75rem;
}

.pub-items a {
  color: lighten(rgba(24,28,36,1),35%);

  &:hover {
    color: lighten(rgba(24,28,36,1),15%);
  }
}

.pub-item {
  margin: 2.5rem 0;
  font-size: 1.05rem;
  line-height: 2rem;

  .pub-title h5 {
    // color: lighten(rgba(24,28,36,1),30%);
    color: inherit;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .pub-year {
    display: inline;
  }

  .pub-journal {
    display: inline;
    margin-left: .75rem;
  }

  .pub-authors {
    font-weight: 300;
  }
}

.output-item {
  margin-top: 1.75rem;
  line-height: 1.75rem;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  letter-spacing: -.025em;
  color: #111827;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  font-weight: 600;
  box-shadow: inset 0 -.125em 0 0 $background-color,inset 0 -.375em 0 0 rgba(165,243,252,.4);

  // &:visited {
  //   color: darken($brand-color, 15%);
  // }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit * 2;
    padding-left: $spacing-unit * 2;
  }

  @include media-query($on-medium-phone) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  @include media-query($on-small-phone) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 3;
    padding-left: $spacing-unit / 3;
  }
}

.wrapper hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  display: none;
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
